<h1><%="#{@game.player_1.name} attacks #{@game.player_2.name} and deals 10 damage"%></h1>
<%=@game.player_2.name%> HP: <%=@game.player_2.hp%>
<form action="/play" method="get">
    <input type="submit" name="OK" value="OK">
  </form>